* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    color: white;
    padding: 100px 0;
}